<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinderellavip">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- Required -->
    <uses-permission android:name="com.hanyu.motong.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 允许程序读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>



    <uses-feature android:name="android.hardware.camera"
        android:required="true" />



    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".global.CinderellApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.account.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.account.WelcomeActivity"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.account.ModifyPassActivity"/>
        <activity android:name=".ui.activity.account.LoginActivity"/>
        <activity android:name=".ui.activity.account.FastLoginActivity"/>
        <activity android:name=".ui.activity.account.RegisterActivity"/>
        <activity android:name=".ui.activity.WebViewActivity"/>
        <activity android:name=".ui.activity.home.GoodsListActivity"/>
        <activity android:name=".ui.activity.home.CardSaleActivity"/>
        <activity android:name=".ui.activity.home.SearchActivity"/>
        <activity android:name=".ui.activity.home.SearchResultActivity"/>
        <activity android:name=".ui.activity.home.GoodsDetailActivity"/>
        <activity android:name=".ui.BigImageActivity"/>
        <activity android:name=".ui.activity.home.BrandDetailActivity"/>
        <activity android:name=".ui.activity.home.ShopDetailActivity"/>
        <activity android:name=".ui.activity.home.EnsureOrderActivity"/>
        <activity android:name=".ui.activity.mine.MineAddressActivity"/>
        <activity android:name=".ui.activity.mine.SelectCouponActivity"/>
        <activity android:name=".ui.activity.mine.EditAddressActivity"/>
        <activity android:name=".ui.activity.order.SelectPayWayActivity"/>
        <activity android:name=".ui.activity.order.PayResultActivity"/>
        <activity android:name=".ui.activity.find.PostDetailActivity"/>
        <activity android:name=".ui.activity.find.TopicDetailActivity"/>
        <activity android:name=".ui.activity.find.ReportActivity"/>
        <activity android:name=".ui.activity.find.SearchFindActivity"/>
        <activity android:name=".ui.activity.find.SearchFindResultActivity"/>
        <activity android:name=".ui.activity.find.PublishTopicActivity"/>
        <activity android:name=".ui.activity.find.PublishPostActivity"/>
        <activity android:name=".ui.activity.find.SearchGoodsForPublishPostActivity"/>
        <activity android:name=".ui.activity.find.SearchTopicForPublishPostActivity"/>
        <activity android:name=".ui.activity.mine.MineDataActivity"/>
        <activity android:name=".ui.activity.mine.ModifyNickNameActivity"/>
        <activity android:name=".ui.activity.mine.MineOrderActivity"/>
        <activity android:name=".ui.activity.order.OrderDetailActivity"/>
        <activity android:name=".ui.activity.mine.LogisticsActivity"/>
        <activity android:name=".ui.activity.order.OrderCommentActivity"/>
        <activity android:name=".ui.activity.order.ApplyReturnActivity"/>
        <activity android:name=".ui.activity.order.ReturnListActivity"/>
        <activity android:name=".ui.activity.order.RefundDetailActivity"/>
        <activity android:name=".ui.activity.mine.ApplyProductSupplierResultActivity"/>
        <activity android:name=".ui.activity.mine.ApplyProductSupplierActivity"/>
        <activity android:name=".ui.activity.mine.BlackListActivity"/>
        <activity android:name=".ui.activity.mine.CouponCenterActivity"/>
        <activity android:name=".ui.activity.mine.HistoricalRankingActivity"/>
        <activity android:name=".ui.activity.mine.LeaderBoardActivity"/>
        <activity android:name=".ui.activity.mine.MessageActivity"/>
        <activity android:name=".ui.activity.mine.MineAssetsActivity"/>
        <activity android:name=".ui.activity.mine.MineBalanceActivity"/>
        <activity android:name=".ui.activity.mine.MineCollectActivity"/>
        <activity android:name=".ui.activity.mine.MineCouponActivity"/>
        <activity android:name=".ui.activity.mine.MineGroupActivity"/>
        <activity android:name=".ui.activity.mine.MineGroupDetailActivity"/>
        <activity android:name=".ui.activity.mine.OrderTransactionActivity"/>
        <activity android:name=".ui.activity.mine.RecommentListActivity"/>
        <activity android:name=".ui.activity.mine.SettingActivity"/>
        <activity android:name=".ui.activity.mine.SmallVaultActivity"/>
        <activity android:name=".ui.activity.mine.WithDrawActivity"/>
        <activity android:name=".ui.activity.mine.WithDrawHistoryActivity"/>
        <activity android:name=".ui.activity.life.AddServiceAddressActivity"/>
        <activity android:name=".ui.activity.life.BuyLongServiceActivity"/>
        <activity android:name=".ui.activity.life.BuyServiceActivity"/>
        <activity android:name=".ui.activity.life.DirectAppointmentActivity"/>
        <activity android:name=".ui.activity.life.DirectAppointmentProjectDetailActivity"/>
        <activity android:name=".ui.activity.life.DirectAppointmentTechnicianCommentActivity"/>
        <activity android:name=".ui.activity.life.DirectAppointmentTechnicianDetailActivity"/>
        <activity android:name=".ui.activity.life.LongServiceOrderDetailActivity"/>
        <activity android:name=".ui.activity.life.LongServiceOrderListActivity"/>
        <activity android:name=".ui.activity.life.PayCheckoutCounterActivity"/>
        <activity android:name=".ui.activity.life.SelectServiceAddressActivity"/>
        <activity android:name=".ui.activity.life.SelectCityActivity"/>
        <activity android:name=".ui.activity.life.SelectLocationActivity"/>
        <activity android:name=".ui.activity.life.BuyServiceResultActivity"/>
        <activity android:name=".ui.activity.life.SelectServiceTimeActivity"/>
        <activity android:name=".ui.activity.life.ServiceDetailActivity"/>
        <activity android:name=".ui.activity.life.ServiceListActivity"/>
        <activity android:name=".ui.activity.life.ServiceOrderCommentActivity"/>
        <activity android:name=".ui.activity.life.ServiceSelectCouponActivity"/>
        <activity android:name=".ui.activity.life.SingleServiceOrderListActivity"/>
        <activity android:name=".ui.activity.life.SingleServiceOrderDetailActivity"/>
        <activity android:name=".ui.activity.life.SearchLifeActivity"/>


        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>